<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Lab | Cross Validation

For this lab, we will build a model on customer churn binary classification problem. You will be using files_for_lab/Customer-Churn.csv file.

Instructions

Apply SMOTE for upsampling the data

Use logistic regression to fit the model and compute the accuracy of the model.
Use decision tree classifier to fit the model and compute the accuracy of the model.
Compare the accuracies of the two models.

In [41]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from imblearn.under_sampling import TomekLinks

In [16]:
data = pd.read_csv('/Users/ritasilva/lab-cross-validation/Customer-Churn.csv')

In [17]:
data.shape

(7043, 16)

In [18]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [19]:
data['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [25]:
#Enconding categoricals

y = data['Churn']
X = data.drop(['Churn'], axis=1)

In [26]:
X = pd.get_dummies(X)
X.head()

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#Train test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [36]:
#Apply SMOTE

smote = SMOTE()

In [37]:
X_train_sm, y_train_sm = smote.fit_resample(X, y)
y_train_sm.value_counts()

No     5174
Yes    5174
Name: Churn, dtype: int64

In [38]:
#Logistics Regression

classification = LogisticRegression(random_state=42, max_iter=1000)
classification.fit(X_train_sm, y_train_sm)
score = classification.score(X_test, y_test)
print (score)

0.8630234208658624

In [40]:
#Decision Tree Classifier

model = DecisionTreeClassifier()
model.fit(X_train_sm, y_train_sm)
model.score(X_test, y_test)

0.992902767920511

In [ ]:
# Score of Decision Tree Classifier is really high, which can mean overfitting.

Apply TomekLinks for downsampling

It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
Use logistic regression to fit the model and compute the accuracy of the model.
Use decision tree classifier to fit the model and compute the accuracy of the model.
Compare the accuracies of the two models.
You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

In [42]:
#Applying TomekLinks

tomek = TomekLinks()
X_tl, y_tl = tomek.fit_resample(X_train, y_train)
y_tl.value_counts()

No     3770
Yes    1496
Name: Churn, dtype: int64

In [43]:
#Logistic Regression

classification = LogisticRegression(random_state=42, max_iter=1000)
classification.fit(X_tl, y_tl)
score = classification.score(X_test, y_test)
print (score)

0.8119233498935415

In [44]:
#Decision Tree Classifier

model = DecisionTreeClassifier()
model.fit(X_tl, y_tl)
model.score(X_test, y_test)

0.7650816181689141

In [ ]:
#TomekLinks seems to be a better data imbalance tecnhique for both models